{% extends 'base.html.twig' %}
 {% block body %}
<h1>Bienvenue sur votre Générateur de Ticket</h1>

<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Atque explicabo, harum, consequatur itaque vero distinctio accusantium similique error voluptates recusandae repudiandae obcaecati. Quisquam eius minus nulla eveniet repellat ipsum, id eum numquam illum sit, odit obcaecati voluptatibus. Suscipit, nulla adipisci!</p>
<p>Sed corporis eius saepe eum, cum eveniet incidunt tempora, fugiat hic, voluptate praesentium. Non at nam maiores aperiam neque placeat, accusamus incidunt repudiandae esse laudantium autem. Corrupti dolore cum totam earum dicta rem a animi molestiae. Corporis ex dolorum sapiente.</p>

{% endblock %}